    /* @media screen and (min-width:768px) {
.logo img {
width: 180px;
}
} */
    
    @media screen and (max-width:768px) {
        /* .menu-hamb {
display: inline;
} */
        /* LOGIN */
        .menu {
            display: none;
            z-index: 1;
        }
        .logo img {
            width: 180px;
        }
        /* LOGIN */
        /* body { 
overflow-x: hidden;
overflow-y: hidden; 
}*/
        .logo-login img {
            width: 164px;
            /* height: 386px; */
        }
        .header-login {
            height: 57px;
        }
        .login-img {
            margin-top: 0;
        }
        .login-img img {
            margin-top: -30px;
            width: 71.38px;
        }
        .login-type {
            margin-bottom: 0px;
        }
        .main-login {
            width: 257PX;
            height: 386px;
            background: white;
        }
        .p-sms {
            font-size: 19px;
        }
        .img-sms img {
            width: 44px;
        }
        .img-lp img {
            width: 50px;
        }
        .login-type button {
            width: 110px;
            height: 20px;
            font-size: 12px;
        }
        .logo-login {
            margin: 15px 0 10px 0;
        }
        .p-sms {
            margin: 4px 0 4px 0;
        }
        footer {
            height: 100px;
            flex-direction: column;
            /* position: fixed; */
            bottom: 0;
        }
        .footer-login {
            height: 100px;
            flex-direction: column;
            position: fixed;
            bottom: 0;
        }
        #facebook,
        #whatsapp,
        #linkedin,
        #youtube,
        #maps {
            width: 29px;
        }
        .column-footer2 img {
            width: 95px;
            margin-bottom: 2px;
        }
        .p-footer {
            font-size: 9px;
        }
    }
    
    @media screen and (max-width:992px) {
        .logo img {
            width: 150px;
        }
        .mobile-banner {
            z-index: 1;
            margin-right: -20px;
            display: inline;
            width: 492px;
            margin-top: -200px;
        }
        .main-banner {
            z-index: 1;
            margin-right: -20px;
            display: none;
        }
        .banner {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        h1.title-banner {
            font-size: 55px;
            text-align: center;
        }
        p.p-banner {
            text-align: center;
            font-size: 26px;
        }
        .img-animated img {
            width: 515px;
        }
        .video {
            height: 442px;
        }
        /* SKILLS */
        .skills {
            width: 709px;
        }
        .column-2 img {
            width: 212px;
        }
        .p-bio {
            width: 310px;
            font-size: 25px;
        }
        .p-column {
            width: 270px;
            font-size: 24px;
        }
        .background-bio {
            height: 75vh;
        }
        .title {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .title h2 {
            width: 553px;
        }
        .slider {
            /* width: 50%; */
            margin: 0 !important;
        }
        .services-box {
            flex-wrap: wrap;
        }
        .background-img-services {
            height: inherit;
            background-position: center;
        }
        .main-services {
            margin-top: 150px;
        }
        .price-box {
            padding: 30px 0;
            margin: 40px;
            flex-wrap: wrap;
            background: white;
            border: 2px solid #DBA754;
            border-radius: 20px;
            box-shadow: -3px 17px 24px -2px rgba(0, 0, 0, 0.61);
        }
        .box-price,
        .box-price2,
        .box-price3,
        .box-price4 {
            width: 243px;
        }
        .cotiza {
            box-shadow: initial;
            background: initial;
            padding: 0;
            /* color: white; */
        }
        h2.cotiza-title {
            color: white;
        }
        .main-services-cotiza {
            margin-top: -100px;
        }
        .box-main-services {
            margin-bottom: 40px;
        }
        .main-contact {
            flex-wrap: wrap;
            height: inherit;
            margin: 60px 0 60px 0;
        }
        .column-one {
            /* width: initial; */
        }
        .column-second {
            width: initial;
        }
        .button-form {
            justify-content: center;
            margin: 10px;
        }
        .red-mobile {
            text-align: center;
            margin: 50px 0;
        }
        .red {
            display: none;
        }
        .title-contact h2,
        .title-contact h4,
        .title-contact p {
            text-align: center;
        }
        /* .cotiza h2 {
color: white;
} */
        /* menu */
        header nav {
            height: 100px;
        }
        .menu {
            display: none;
        }
        .menu,
        .menu-bg,
        .menu-burger {
            position: fixed;
            width: 50px;
            height: 50px;
            font-size: 30px;
            text-align: center;
            border-radius: 100%;
            right: 25px;
            top: 25px;
        }
        .menu-bg {
            /* margin-top: 30px; */
            background: #20273B;
            pointer-events: none;
            transition: 0.3s;
            right: 50px;
            top: 50px;
            transform: translate3d(50%, -50%, 0);
            transform-origin: center center;
        }
        .menu-bg.fs {
            transform: translate3d(50%, -50%, 0);
            width: 300vw;
            height: 300vw;
        }
        .menu-burger {
            /* margin-top: 30px; */
            color: white;
            /* padding-top: 11px; */
            user-select: none;
            cursor: pointer;
            transition: 0.4s;
            transform-origin: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menu-burger.fs {
            transform: rotate(-180deg) translateY(10px);
        }
        .menu-items {
            position: absolute;
            font-weight: bold;
            font-size: 40px;
            letter-spacing: 10px;
            color: white;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: 0.4s;
            margin-top: 100px;
            transform: translateY(-200%);
            pointer-events: none;
        }
        .menu-items div {
            color: white;
            transition: 1s;
            opacity: 0;
            margin-top: 0px;
            font-size: 26px;
        }
        .menu-items.fs {
            transform: translateY(0);
            pointer-events: auto;
            opacity: 1;
            left: 0;
        }
        .menu-items.fs div {
            opacity: 1;
            margin-top: 75px;
        }
        .content {
            padding: 100px 50px;
            line-height: 1.62em;
            color: #444;
        }
        .content h1 {
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 1em;
        }
        .menu-hamb {
            z-index: 2;
            display: inline;
        }
        .video img {
            width: 100px;
        }
        .mobile-banner {
            margin-right: 0;
        }
    }
    
    @media screen and (min-width:1024px) {}
    
    @media screen and (min-width:1200px) {}
    
    @media screen and (max-width:769px) {}
    
    @media screen and (max-width:588px) {
        .img-animated img {
            width: 252px;
            /* background: red; */
        }
        .mobile-banner {
            width: 300px;
            margin-top: -84px;
            margin-right: 0px;
        }
        h1.title-banner {
            font-size: 30px;
            text-align: center;
        }
        p.p-banner {
            text-align: center;
            font-size: 17px;
        }
        .mobile-banner {
            margin-right: 0;
        }
        .hero {
            padding: 60px;
        }
        .video img {
            width: 110px;
        }
        .title h2 {
            font-size: 27px;
            width: 300px;
        }
        .box-services {
            width: 145px;
            height: 190px;
            margin: 5px;
        }
        .img-services {
            width: 71px;
            height: 78px;
        }
        .name-services,
        h4 {
            width: 145px;
            font-size: 18px;
            margin: 0;
            height: inherit;
        }
        .box-img-services {
            margin-top: -35px;
        }
        .p-services {
            font-size: 15px;
            width: 130px;
            line-height: 16px;
        }
        .description-services {
            height: inherit;
        }
        .main-services {
            margin-top: 80px;
        }
        h2.cotiza-title {
            color: #20273B;
            font-size: 27px;
            text-align: center;
            width: 265px;
        }
        .cotiza-button {
            width: 235px;
            height: 63px;
        }
        .cotiza-button h4 {
            color: white;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title-contact h2 {
            font-size: 30px;
        }
        .title-contact h2,
        .title-contact h4,
        .title-contact p {
            text-align: center;
            width: 296px;
        }
        .main-contact {
            margin: 0px 0 60px 0;
        }
        .column-one {
            width: 296px;
            height: 400px;
            /* height: 500px; */
        }
        .column-second {
            height: 320px;
        }
        .title-contact p {
            font-size: 12px;
            line-height: 26px;
        }
        .direccion strong {
            font-size: 16px;
            color: white;
        }
        .title-contact a {
            font-size: 12px;
        }
        input {
            width: 275px;
            height: 30px;
            font-size: 11px;
            padding-left: 15px;
        }
        form {
            width: 286px;
        }
        textarea {
            width: 275px;
            font-size: 11px;
            padding-left: 15px;
            height: 85px;
            border-radius: 20px;
        }
        form button {
            width: 160px;
            height: 30px;
            font-size: 15px;
        }
        .copyright img {
            width: 160px;
        }
        .p-footer {
            font-size: 12px;
        }
        footer {
            width: initial;
        }
        .box-price,
        .box-price2,
        .box-price3,
        .box-price4 {
            width: 119px;
            height: 184px;
            margin: 13px;
        }
        .price-box {
            margin: 20px;
        }
        .name-services,
        h4 {
            /* width: 119px; */
            width: inherit;
        }
        h2.cotiza-title {
            color: white;
        }
        .p-price {
            font-size: 15px;
            line-height: 21px;
            width: 119px;
        }
        .name-price h2 {
            font-size: 35px;
        }
        .name-price,
        h4 {
            margin: 0;
            height: 45px;
            width: inherit;
        }
        .p-price-one {
            font-size: 15px;
        }
    }
    /* @media screen and (max-width:320px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:992px) {}
@media screen and (max-width:1024px) {}
@media screen and (max-width:1200px) {} */
    
    body {
        margin: 0;
        -webkit-perspective: 1000;
        background: url(https://f.cl.ly/items/3Q031Q1m1s1d3C0I023k/geometry2.png);
        font-family: Avenir Next, sans-serif;
    }
    
    body,
    html {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }