

@media screen and (max-width:768px) {
    /* LOGIN */
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .logo-login img{
        width: 164px;
        /* height: 386px; */
    }
    .header-login {
        height: 57px;
    }
    .login-img{
        margin-top: 0;
    }
    .login-img img{
        margin-top: -30px;
        width:71.38px;
    }
    .login-type {
        margin-bottom: 0px;
    }
    .main-login {
        width: 257PX;
        height: 386px;
        background: white;
    }
    .p-sms{
        font-size:19px;
    }
    .img-sms img{
        width: 44px;
      }
      .img-lp img{
        width: 50px;
      }
      .login-type button {
        width: 110px;
        height: 20px;
        font-size: 12px;
    }
    .logo-login {
        margin: 15px 0 10px 0;
    }
    .p-sms {

        margin: 4px 0 4px 0;
    }
    footer {
        height: 100px;
        flex-direction: column;
        position: fixed;
bottom: 0;
    }
    #facebook, #whatsapp, #linkedin, #youtube, #maps{
        width: 29px;
    }
    .column-footer2 img{
        width: 95px;
        margin-bottom: 2px;
    }
    .p-footer{
        font-size: 9px;
    }
      
}
@media screen and (max-width:769px) {
    /* .main-login {
        width: 400px;
        height: 598px;
        background: white;
    }
    .header-login {
        height: 110px;
    }
    .logo-login {
        margin: 15px 0 10px 0;
    }
    .p-sms {

        margin: 4px 0 4px 0;
    }
    .column-footer2 img{
        width: 180px;
        margin-bottom: 2px;
    } */
}
@media screen and (min-width:992px) {}
@media screen and (min-width:1024px) {}
@media screen and (min-width:1200px) {}


/* @media screen and (max-width:320px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:992px) {}
@media screen and (max-width:1024px) {}
@media screen and (max-width:1200px) {} */